/.cache
/.coverage
/build
/config.mak
/deb
/dist
/fanta/_scm_version.py
/.eggs
/env*
/fedora
/flatpak
/git-fanta.app
/htmlcov
/local
/pages
/patches
/pip-wheel-metadata
/pynsist.generated.cfg
/.pytest_cache
/.sonar
/README.html
/share/locale
/test/tmp
/todo
/tags
/.tox
__pycache__
.DS_Store
*.egg-info
*.gz
*.py[cod]
*.swp
*.zip
*~

# Hermes Agent working state
/.hermes

# Backup files from plan iterations
*.bak
